<!DOCTYPE html>
<!--
            _.-"""-,
          .'  ..::. `\
         /  .::' `'` /
        / .::' ..-/=;
        | ::' /  C ..\
        | :: |   \  _.)
         \ ':|   /  \
          '-, \./ \)\)
             `-|   );/
                '-''-'
-->
<html>
  <head>
    <title><%= title %></title>
    <meta name="author" content="<%= author %>">
    <meta charset="utf-8">
    <link rel="shortcut icon" href="favicon.ico">

    <link href="//netdna.bootstrapcdn.com/twitter-bootstrap/2.3.0/css/bootstrap-combined.min.css" rel="stylesheet">
    <link href="//netdna.bootstrapcdn.com/font-awesome/3.0.2/css/font-awesome.css" rel="stylesheet">
    <link href="print.css" media="print" rel="stylesheet" type="text/css" />
    <link href="style.css" media="screen" rel="stylesheet" type="text/css" />
    <% if print_pdf %>
      <link href="pdf.css" rel="stylesheet" type="text/css" />
    <% end %>
    <link href="overrides.css" rel="stylesheet" type="text/css" />

    <script type="text/javascript">
      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', '<%= key %>']);
      _gaq.push(['_trackPageview']);

      (function() {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
      })();
    </script>
  </head>
  <body>
    <div id="resume">
      <small class="download">View resume: 
        <% if print_pdf %>
          <a href="<%= html_url %>" target="_blank">online</a> | 
        <% else %>
          <a href="<%= pdf_filename %>" target="_blank">pdf</a> | 
        <% end %>
        <a href="<%= filename %>" target="_blank">markdown</a> | 
        <a href="<%= git_url %>" target="_blank">git</a></small>

      <%= resume %>
    </div>
  </body>
</html>
